* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../img/fondo1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}

#pais {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ubicacion {
    height: 48px;
    width: 400px;
    padding: 25px;
    border-radius: 30px;
    border: none;
}

#boton {
    padding: 15px 50px;
    border-radius:  30px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#pais-contenedor {
    background-color: rgba(255, 255, 255, 0.616);
    padding: 30px 100px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

